


    h1 {color: yellow;}
    h2 {color:blue;}
    h3 {color: red;}
    p  {background-color:red;
        text-decoration: white;}
    h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

    p {font-style:italic ;}
    h2 {font-weight:bold;}
    ul a {color:black;}
    ul a {font: font-size;}    